/* Contenedor principal */
.hero-container {
  position: relative;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  height: 600px; /* Altura fija de 600px */
  overflow: hidden; /* Oculta cualquier parte del video que sobresalga */
}

/* Video de fondo */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Asegura que el video ocupe todo el ancho */
  height: 100%; /* Asegura que el video ocupe toda la altura del contenedor */
  z-index: 1; /* Asegura que el video esté en el fondo */
  overflow: hidden; /* Oculta cualquier parte del video fuera del contenedor */
  filter: brightness(40%); /* Reduce el brillo del video para oscurecerlo */
}

/* Video dentro del contenedor */
.video-frame {
  width: 100%;
  height: 100%;
  transform: scale(2.5);
  object-fit: cover;
}

/* Capa de contenido */
.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2; /* Asegura que el contenido esté por encima del video */
  color: white;
}

/* Imagen superpuesta */
.overlay-image {
  position: absolute;
  z-index: 1; /* Imagen detrás del texto */
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  opacity: 0.5; /* Puedes ajustar la opacidad para que se vea más sutil */
}

/* Estilo del texto */
.main-text {
  font-size: 50px; /* Tamaño del texto */
  font-weight: bold;
  z-index: 2; /* Asegura que el texto esté por encima de la imagen */
  margin: 0;
  color: white;
  display: inline-block; /* Permite que el texto tenga una estructura en bloque */
  line-height: 1; /* Ajusta el espacio entre las líneas */
  position: relative;
  opacity: 1;
  transition: opacity 1s ease-in-out; /* Añadimos la transición general para el fade-out */
}

/* Primera letra M o N con color especial */
.firstLetter {
  color: #fd4a5c;
  font-size: 86px; /* Tamaño más grande para las letras M y N */
  display: inline; /* Asegura que las letras estén al lado del resto del texto */
  margin-right: 0; /* Elimina cualquier margen adicional que cause separación */
}

/* Añadir la transición de opacidad a todos los textos */
.main-text span,
.main-text p {
  display: inline-block;
  opacity: 1;
  transition: opacity 1s ease-in-out; /* Suaviza el cambio de opacidad */
}

/* Clase fade-out para hacer el texto desaparecer */
.main-text.fade-out {
  opacity: 0;
}

/* Para los párrafos dentro del h1 */
.main-text p {
  display: inline-block;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.main-text p.fade-out {
  opacity: 0;
}
