@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ejemplo de estilo para el texto resaltado */
.highlighted-text {
  text-decoration: underline;
  font-weight: bold;
}
.elementor-icon {
  background-color: red; /* Color del círculo */
  border-radius: 50%; /* Forma circular */
  display: flex; /* Flexbox para centrar */
  justify-content: center;
  align-items: center;
  padding: 15px; /* Tamaño del círculo */
  font-size: 24px; /* Tamaño del ícono */
  position: absolute; /* Posicionamiento relativo a la imagen */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 10; /* Asegura que el ícono esté encima */
  animation: scaleAnimation 2s infinite; /* Animación */
}

/* Animación */
@keyframes scaleAnimation {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}
