/* Estilos para el slider */
.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Estilos para los textos */
.text1,
.text2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

/* Estilos para la imagen del cliente */
.image img {
  width: 25;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}
